@import "~mdb-ui-kit/css/mdb.min.css";
/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
@import "~mdb-ui-kit/css/mdb.min.css";

.img {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  border-radius: 2%;
  box-shadow: 0 0 5px 6px gray;
  position: relative;
}
.card-info {
  position: absolute;
  width: 100%;
  bottom: 5vh;
  left: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0;
  opacity: 0;
  transition: 0.5s 0.2s;
}
.title-1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0;
  transition: 0.5s 0.2s;
}

.artist {
  font-family: "Pacifico";
  font-size: 1.2em;
  opacity: 0;
  transition: 0.5s 0.3s;
}
.artist-1 {
  font-family: "Pacifico";
  font-size: 1.2em;
  transition: 0.5s 0.3s;
}
.genre {
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  color: red;
  opacity: 0;
  transition: 0.5s 0.4s;
}
.genre-1 {
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  color: red;
  transition: 0.5s 0.4s;
}
.duration {
  font-size: 14px;
  font-style: oblique;
  opacity: 0;
  transition: 0.5s 0.5s;
}
.duration-1 {
  font-size: 14px;
  font-style: oblique;
  transition: 0.5s 0.5s;
}

.card-mgn:hover .artist,
.card-mgn:hover .title,
.card-mgn:hover .duration,
.card-mgn:hover .genre {
  opacity: 1;
}
.img-h {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 0px 4px 5px rgb(14, 14, 14);
}
.card-mgn {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.card {
  border: none;
  background-color: rgb(31, 29, 29);
  border-radius: 10px;
}
.card-mgn:hover .card {
  background-color: rgb(42, 40, 40);
  transform: scale(1.02);
  border-radius: 10px;
}
.triangle {
  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 12px 15px;
  border-color: transparent transparent transparent #0e0e0e;
  transform: rotate(0deg);
}
.tr2 {
  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
  width: 0px;
  display: none;

  height: 0px;
  border-style: solid;
  border-width: 10px 0 12px 15px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
}
.play2 {
  opacity: 1;
  position: absolute;
  height: 30px;
  margin: auto;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  transition: transform 1.3s;
}
.play2:hover {
  background-color: green;
}
.card-mgn:hover .play {
  opacity: 1;
  transform: translateY(0px);
}
.album-play {
  position: relative;
}
.play {
  position: absolute;
  right: 15%;
  bottom: 10%;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  opacity: 0;
  transition: transform 1.3s;
  transform: translateY(5px);
}
.play:hover {
  background-color: white;
}
.see-more {
  display: flex;
  justify-self: end;
  position: relative;
}
.see-more > .btn-see-more {
  color: white;
  border: none;
  background-color: transparent;
}

.pause-track {
  margin: auto;
  margin-top: 7px;
  margin-left: 7px;
  width: 15px;
  height: 15px;
  background-color: white;
  /* border-style: solid;
  border-width: 10px 0 12px 15px;
  border-color: transparent transparent transparent white; */
  transform: rotate(0deg);
}
/* Demo */

.see-more:hover.see-more::after {
  content: "";
  position: absolute;
  right: 5px;
  /* top: 0; */
  bottom: 0;
  width: 55px;
  height: 2px;
  /* left: 0; */
  /* transform: rotate(90deg); */
  background-color: white;
}
#favourite h3 {
  text-align: center;
  margin: 20px 0;
}
#worst h3 {
  text-align: center;
  margin: 20px 0;
}
#gallery h3 {
  text-align: center;
  margin: 20px 0;
}
.card-body {
  top: 80%;
  left: 0;
  right: 0;

  border-radius: 10px;
  transition: 1s;
}

.badge-img {
  position: relative;
  width: 100%;
}

h3 {
  text-align: center;
  margin: 20px 0;
}
.btn-secondary {
  background-color: rgba(15, 14, 14, 0.8);
  transform: translateY(280%);
  transition: 1s;
  /* opacity: 0; */
}
.badge {
  position: absolute;
  margin-left: 75%;
  margin-top: 10%;
}
.badg {
  margin-left: 60%;
  margin-top: 0;
}
.duration {
  margin-bottom: 20px;
}
.bg-image {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  color: white;
  background-color: rgba(1, 1, 1, 0.9);
}
.mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.mask h1.mb-3 {
  margin-left: 30%;
}
.mask h4.mb-3 {
  color: coral;
  text-align: center;
}
.mask .btn {
  margin-left: 45%;
  font-weight: bold;
}

.d-block {
  height: 500px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

#favourite {
  margin-top: 30px;
}
.card-img-top {
  height: 102px;
}
.table {
  position: static;
  margin-top: 100px;
}

#d-d {
  margin-top: 50px;
}
.carousel-inner {
  opacity: 1;
  transition: fadeIn 1s;
  animation: fadeIn 1.5s ease-out both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.review {
  height: 450px;
}
.card.mb-3 {
  box-sizing: 1px 1px 3px 7px;
  height: 100%;
}
.img-fluid {
  object-fit: cover;
  height: 100%;
}
.border {
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 0 0 5px 3px gray;
  width: 95%;
}
#add-track:hover {
  box-shadow: 0 0px 5px 3px green;
}
#footerte {
  bottom: 0;
  z-index: 4;
}
.color {
  background-color: lightgray;
}
/* THIS IS RESPOSIVENESS */
@media screen and (max-width: 830px) {
  #d-d {
    display: none;
  }
  .d-dd {
    display: none;
  }
}
